<app-auth-layout>
  <app-auth-navbar>
    <span navbar-text>هنوز ثبت نام نکرده اید؟</span>
    <a class="text-decoration-none" navbar-link [routerLink]="['/auth/sign-up']">ثبت نام</a>
  </app-auth-navbar>
  <main class="d-flex align-items-center justify-content-center flex-grow-1 m-0 p-0">
    <div class="auth-content m-lg-0">
      <app-auth-form-header>
        <span main-header-text>بازیابی گذرواژه</span>
      </app-auth-form-header>
      <p class="text-justify small">
        ایمیل یا موبایلی که با استفاده از آن در سایت ثبت نام کرده اید را وارد نمایید، سپس ما کد تأیید را برای شما ارسال
        می کنیم.
      </p>
      <p class="text-justify small">
        به دلایل امنیتی، ما گذرواژه شما را ذخیره نمی کنیم، بنابراین مطمئن باشید ما هرکز گذرواژه شما را از طریق ایمیل یا
        موبایل ارسال نمی کنیم.
      </p>
      <app-auth-form>
        <form accept-charset="UTF-8" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-fields">
            <!-- form field content -->
            <fieldset>
              <label for="sign-in">ایمیل یا موبایل</label>
              <input type="text"
                     id="sign-in"
                     class="text-input"
                     dir="ltr"
                     formControlName="username"
                     autofocus>
              <span class="icon"
                    [class.form-pending]="username.pending"
                    [class.form-invalid]="username.invalid && (username.dirty || username.touched)"
                    [class.form-valid]="username.valid && (username.dirty || username.touched)"
              >
              </span>
            </fieldset>
          </div>
          <button type="submit" class="form-btn btn d-block border-0" [disabled]="!form.valid">تأیید و ادامه</button>
        </form>
        <!-- form content link -->
        <span form-text>هنوز ثبت نام نکرده اید؟</span>
        <a class="text-decoration-none" form-link [routerLink]="['/auth/sign-up']">ثبت نام</a>
      </app-auth-form>
    </div>
  </main>
</app-auth-layout>
