<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareModalLabel">اشتراک گذاری</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <a [href]="'mailto:?&subject=&body=' + url" target="_blank" title="ایمیل"
               class="share-btn d-flex align-items-center justify-content-center text-decoration-none m-2">
              <i class="tio-email"></i>
            </a>
            <a [href]="'https://www.facebook.com/sharer/sharer.php?u='+ url" target="_blank" title="فیس بوک"
               class="share-btn d-flex align-items-center justify-content-center text-decoration-none m-2">
              <i class="tio-facebook-square"></i>
            </a>
            <a [href]="'https://api.whatsapp.com/send?text=' + url" target="_blank" title="واتس اپ"
               class="share-btn d-flex align-items-center justify-content-center text-decoration-none m-2">
              <i class="tio-whatsapp"></i>
            </a>
            <a [href]="'https://telegram.me/share/url?url=' + url + '&text='" target="_blank" title="تلگرام"
               class="share-btn d-flex align-items-center justify-content-center text-decoration-none m-2">
              <i class="tio-telegram"></i>
            </a>
            <a [href]="'https://twitter.com/intent/tweet?url=' + url + '&text='" target="_blank" title="توئیتر"
               class="share-btn d-flex align-items-center justify-content-center text-decoration-none m-2">
              <i class="tio-twitter"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <button class="btn btn-sm btn-secondary" type="button" (click)="onCopyToClipboard()">
          <i class="tio-copy"></i>
          کپی آدرس صفحه
        </button>
        <input id="copyToClipboard" dir="ltr" class="form-control form-control-sm" type="text"
               [value]="url" readonly>
      </div>
    </div>
  </div>
</div>
