<div class="bottom-nav acrylic-medium navbar navbar-expand-lg row fixed-bottom nav-section d-md-none pb-0">
  <!-- mobile top navbar -->
  <div class="container-fluid p-0" dir="ltr">
    <div class="navbar-nav w-100 flex-row justify-content-evenly align-items-center">
      <a class="text-decoration-none"><i class="tio-user-big-outlined"></i></a>
      <a class="text-decoration-none active"><i class="tio-dashboard-vs-outlined"></i></a>
      <a class="text-decoration-none"><i class="tio-search"></i></a>
      <a class="text-decoration-none"><i class="tio-heart-outlined"></i></a>
      <a class="text-decoration-none"><i class="tio-star-outlined"></i></a>
    </div>
  </div>
</div><!-- /mobile top navbar -->
