@import "src/scss/abstracts/variables";

::ng-deep .header-container {
  .title-fa {
    font-size: 18px;
  }

  .title-en {
    font-size: 13px;
  }
}

::ng-deep .shrink-medium {
  .title-en, .rate, .explicit, .feat, .details-list, .genres {
    display: none;
  }

  .greedy {
    top: -20px;
  }

  .title-fa {
    margin-top: 10px;
  }

}

::ng-deep .shrink-small {
  .title-en, .rate, .explicit, .artists, .details-list, .genres, .greedy {
    display: none;
  }

  .title-fa {
    font-size: 14px;
  }

  .title-en {
    display: none;
  }
}

// global
.title {
  color: $light;

  .title-fa {
    font-weight: bolder;
  }

  .title-en {
    opacity: 0.7;
  }
}

.details-list {
  font-size: 11px;
}

.rate {
  font-size: 12px;
  color: $light;

  i {
    font-size: 18px;
    color: $orange;
  }

  a {
    font-size: 10px;
    color: inherit;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

.explicit {
  font-size: 11px;
  color: $orange;
  font-weight: 600;
}

.countdown {
  background: $orange;

  ul {
    li {
      color: rgba($darkGray, 0.7);
      display: inline-block;
      font-size: 11px;
      list-style-type: none;
      padding: 1em 1.5rem;
      text-align: center;

      &:not(:last-child) {
        border-left: 1px solid rgba($darkGray, 0.1);
      }

      span {
        color: $dark;
        display: block;
        font-size: 20px;
        text-align: center;
        font-weight: 600;
      }
    }
  }
}

.custom-list {
  padding: 20px 15px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  span {
    font-weight: bold;
  }

  a {
    color: inherit;

    &:hover {
      opacity: 0.7;
    }

    &:not(:last-child) {
      &:before {
        content: '،';
        padding: 0 5px;
      }
    }

    &:last-child {
      &:before {
        content: ' و';
        padding: 0 5px;
      }
    }

    &:first-of-type {
      &:before {
        content: '' !important;
        padding: 0 !important;
      }
    }
  }

  &:nth-child(odd) {
    background: $dark;
  }
}

.track-list {
  color: $light;
  padding: 0 15px;
  width: 100%;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 50% calc(50% - 55px) 55px;
  font-size: 12px;
  font-weight: 600;

  &:nth-child(even) {
    background: $dark;
  }

  &:hover {
    background: rgba($light, 0.1);

    button {
      transition: all 0.3s;
      opacity: 1;
    }
  }

  .track-item {
    display: flex;
    align-items: center;

    span {
      font-weight: normal;
    }
  }

  .track-title {
    @media (max-width: 767.98px) {
      padding: 10px 0 2px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    button {
      @media (max-width: 767.98px) {
        display: none;
      }
    }

    i {
      font-size: 18px;
    }

    .voice-icon i {
      display: none;
    }
  }

  .track-artists {
    @media (max-width: 767.98px) {
      grid-area: 2 / 1 / 3 / 1;
      padding: 2px 0 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    opacity: 0.7;
  }

  .track-buttons {
    display: none;
    @media (max-width: 767.98px) {
      grid-area: 1 / 2 / 3 / 3;
      justify-self: end;
      display: flex;
    }
  }

  .track-duration {
    justify-self: end;
    @media (max-width: 767.98px) {
      grid-area: 1 / 3 / 3 / 4;
    }
    overflow: hidden;
    opacity: 0.7;
  }

  .dropdown-menu {
    a {
      cursor: pointer;
    }

    li:nth-child(odd) {
      background: transparent;
    }
  }

  button {
    transition: all 0.3s;
    font-size: 18px;
    opacity: 0;
    @media (max-width: 767.98px) {
      padding: 16px 12px;
      opacity: 1;
    }
    padding: 11px;
    color: $light;
    border-radius: 0;

    &:focus {
      box-shadow: none;
    }

    &:before {
      display: none;
    }

    &:hover {
      background: rgba($light, 0.1);
    }
  }

  a {
    color: inherit;
  }

  .dropdown-item {
    font-size: 11px !important;
  }

  &.active {
    color: $green;

    button {
      color: $green !important;
    }

    .track-title {
      .voice-icon i {
        display: block;
      }
    }
  }
}

.list-artists {
  a {
    color: inherit;

    &:hover {
      opacity: 0.7;
    }

    &:not(:last-child) {
      &:before {
        content: '،';
        padding: 0 5px;
      }
    }

    &:last-child {
      &:before {
        content: ' و';
        padding: 0 5px;
      }
    }

    &:first-of-type {
      &:before {
        content: '' !important;
        padding: 0 !important;
      }
    }
  }
}

.rate-body {
  color: $dark;

  a {
    color: inherit;
  }
}

.rating-header-content {
  color: $dark;
  @media (max-width: 767.98px) {
    grid-row: 2 / 3;
  }
  font-size: 12px;

  .rate {
    i {
      font-size: 16px;
      color: $orange;
    }
  }

  #rating-container {
    i {
      font-size: 27px;
      margin: 0 2px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      cursor: pointer;
    }

    i.checked {
      color: $orange;
    }
  }
}

.dropdown-menu {
  a {
    cursor: pointer;
  }
}
