<div class="carousel-container container-fluid">
  <div class="d-flex justify-content-center my-5" *ngIf="(albums$ | async).loading">
    <div class="spinner-border text-white" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="row" *ngIf="!(albums$ | async).loading">
    <div class="carousel-head border-0 mt-0 col-12"><!-- title -->
      <h3 class="mb-4 mt-1">
        آلبوم های ویژه موسیقی ایران
        <a [routerLink]="['/musics']"
           queryParamsHandling="merge"
           [queryParams]="{'type': 'persian', 'filter': 'album'}"
           class="text-decoration-none float-end"><i class="tio-arrow-backward"></i></a>
      </h3>
    </div><!-- title -->
    <div class="carousel-slide col-12 p-0 mb-4 d-flex align-items-center"><!--  slide -->
      <div *ngFor="let album of (albums$ | async).albums; let i = index; trackBy: trackByFunc"
           class="carousel-element  element-slider"><!-- item -->
        <a
          (click)="shortLink('/album', album.slug_id)"
          [routerLink]="['/album', album.slug_id, album.slug]"
          [title]="album.title_en"
          class="carousel-thumbnail text-decoration-none"><!-- thumbnail -->
          <img crossorigin="anonymous"
               src="{{album.thumbnail}}" alt="{{album.slug}}"
               class="carousel-track">
          <div class="inner-overlay carousel-track justify-content-center align-items-center"></div>
          <span class="box-label"><i class="tio-disc"></i></span>
        </a><!-- thumbnail -->
        <div class="outer-overlay"><!-- overlay -->
          <div class="btn-group dropstart">
            <button class="carousel-btn btn dropdown-toggle" type="button" title="افزودن به" data-bs-toggle="dropdown"
                    aria-expanded="false">
              <i class="tio-add"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item py-2" *ngIf="!(isLoggedIn$ | async)" (click)="alertToSignIn()">
                  <i class="tio-filter-list"></i>
                  لیست در حال پخش
                </a>
                <a class="dropdown-item py-2" *ngIf="(isLoggedIn$ | async)" (click)="addToNowPlaying(album.slug_id)">
                  <i class="tio-filter-list"></i>
                  لیست در حال پخش
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li (click)="setSlugId(album.slug_id)">
                <a *ngIf="(isLoggedIn$ | async)" class="dropdown-item py-2" data-bs-toggle="modal"
                   data-bs-target="#playlistModal">
                  <i class="tio-menu-hamburger"></i>
                  پلی لیست های من
                </a>
                <a class="dropdown-item py-2" *ngIf="!(isLoggedIn$ | async)" (click)="alertToSignIn()">
                  <i class="tio-menu-hamburger"></i>
                  پلی لیست های من
                </a>
              </li>
            </ul>
          </div>
          <button class="carousel-btn btn border-0" title="پخش" *ngIf="!(isLoggedIn$ | async)"
                  (click)="alertToSignIn()">
            <i class="tio-play"></i>
          </button>
          <button class="carousel-btn btn border-0" title="پخش" *ngIf="(isLoggedIn$ | async)"
                  (click)="play(album.slug_id)">
            <i class="tio-play"></i>
          </button>
        </div><!-- overlay -->
        <div class="carousel-info info-track mt-2 persian-info"
             [ngClass]="album.type == 'persian' ? 'persian-info' : 'world-info'"><!-- info -->
          <a
            (click)="shortLink('/album', album.slug_id)"
            [routerLink]="['/album', album.slug_id, album.slug]"
            [title]="album.slug"
            class="text-decoration-none">
            <b>{{album.type == 'persian' ? (album.title_fa | faNum) : album.title_en}}</b>
          </a>
          <div class="carousel-artists">
            <a *ngFor="let owner of album.owner_artists; let i = index; trackBy: trackByFunc"
               (click)="shortLink('/artist', owner.slug_id)"
               [routerLink]="['/artist', owner.slug_id, owner.slug]"
               [title]="owner.name_en"
               class="text-decoration-none">
              {{owner.name_fa ? (owner.name_fa | faNum) : owner.name_en}}
            </a>
          </div>
        </div><!-- info -->
      </div><!-- item -->
    </div><!--  slide -->
    <div class="carousel-arrow arrow-track col-12 p-0"><!-- arrow -->
      <button class="slide-right btn" id="slide-right-featured-persian-albums" type="button">
        <i class="tio-chevron-right"></i>
      </button>
      <button class="slide-left btn" id="slide-left-featured-persian-albums" type="button">
        <i class="tio-chevron-left"></i>
      </button>
    </div><!-- /arrow -->
  </div>
</div>

