<app-home-discover-slider></app-home-discover-slider>
<app-home-discover-categories></app-home-discover-categories>
<app-home-discover-featured></app-home-discover-featured>
<app-home-discover-genres></app-home-discover-genres>
<app-home-discover-persian-tracks></app-home-discover-persian-tracks>
<app-home-discover-persian-albums></app-home-discover-persian-albums>
<app-home-discover-podcasts></app-home-discover-podcasts>
<app-home-discover-playlists></app-home-discover-playlists>
<app-home-playlist-modal></app-home-playlist-modal>
