@import "src/scss/abstracts/variables";

.feature-music {
  position: relative;
  padding: 6px;
  transition: all 0.3s;
  @media (min-width: 992px) {
    padding: 12px 6px;
  }

  &:hover {
    opacity: 0.85;
    transition: all 0.3s;
  }

  .feature-background {
    height: 150px;
  }

  .label {
    position: absolute;
    z-index: 10;
    top: 14px;
    color: $dark;
    right: 20px;
    font-size: 10px;
    background: rgba($orange, 1);
    padding: 7px;
    border-radius: 3px;
    @media (min-width: 992px) {
      top: 20px;
      right: 15px;
    }
  }

  &:first-child {
    .box-label {
      right: 20px;
    }
  }

  &:last-child {
    .feature-detail {
      left: 20px;
    }
  }

  .feature-detail {
    position: absolute;
    color: $light;
    bottom: 25px;
    font-size: 13px;
    left: 20px;
    @media (min-width: 992px) {
      left: 15px;
    }

    .countdown {
      ul {
        list-style: none;

        li {
          display: inline-block;
          background: $lightGray;
          color: $dark;
          border-radius: 3px;
          padding: 4px;
          margin: 8px 2px;
          font-size: 11px;

          span {
            margin-left: 4px;;
          }
        }
      }
    }
  }
}
