<app-home-go-back></app-home-go-back>
<div class="container-fluid">
  <form class="row mx-0 p-2 g-1 justify-content-center">
    <div class="col col-md-auto">
      <select
        (change)="changeMusicFilter($event)"
        class="form-select form-select-sm"
        aria-label=".form-select-sm order">
        <option value="all-musics">همه موزیک ها</option>
        <option value="track" [selected]="filter == 'track'">تک آهنگ</option>
        <option value="album" [selected]="filter == 'album'">آلبوم</option>
      </select>
    </div>
    <div class="col col-md-auto">
      <select
        (change)="changeMusicType($event)"
        class="form-select form-select-sm"
        aria-label=".form-select-sm order">
        <option value="all-types">همه دسته ها</option>
        <option value="persian" [selected]="type == 'persian'">موسیقی ایران</option>
        <option value="world" [selected]="type == 'world'">موسیقی جهان</option>
      </select>
    </div>
    <div class="col col-md-auto">
      <select
        (change)="changeMusicGenre($event)"
        class="form-select form-select-sm"
        aria-label=".form-select-sm order">
        <option [value]="''">همه سبک ها</option>
        <option *ngFor="let genreList of genres.genres; let i = index; trackBy: genreTrackByFunc"
                [value]="genreList.slug"
                [selected]="genre == genreList.slug"
        >{{genreList.title_fa}}</option>
      </select>
    </div>
  </form>
  <hr>
  <div class="carousel-container container-fluid">
    <div class="row">
      <div class="d-flex justify-content-center my-5" *ngIf="sectionLoading$ | async">
        <div class="spinner-border text-white" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div *ngIf="!(sectionLoading$ | async)"
           class="carousel-slide col-12 p-0 mb-4 d-flex align-items-center flex-wrap px-2">
        <div *ngFor="let music of (musics$ | async); let i = index; trackBy: trackByFunc" class="carousel-element mb-4">
          <!-- item -->
          <ng-container *ngIf="music.filter == 'track'">
            <a
              (click)="shortLink('/track', music.slug_id)"
              [routerLink]="['/track', music.slug_id, music.slug]"
              [title]="music.slug"
              class="carousel-thumbnail text-decoration-none carousel-track"><!-- thumbnail -->
              <img crossorigin="anonymous"
                   [src]="music.thumbnail"
                   [alt]="music.slug"
                   class="carousel-track">
              <div class="inner-overlay carousel-track justify-content-center align-items-center"></div>
              <span class="box-label"><i class="tio-music"></i></span>
            </a><!-- thumbnail -->
            <div class="outer-overlay"><!-- overlay -->
              <div class="btn-group dropstart">
                <button class="carousel-btn btn dropdown-toggle" type="button" title="افزودن به"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                  <i class="tio-add"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item py-2" *ngIf="!(isLoggedIn$ | async)" (click)="alertToSignIn()">
                      <i class="tio-filter-list"></i>
                      لیست در حال پخش
                    </a>
                    <a class="dropdown-item py-2" *ngIf="(isLoggedIn$ | async)"
                       (click)="addToNowPlayingTrack(music.slug_id)">
                      <i class="tio-filter-list"></i>
                      لیست در حال پخش
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li (click)="setTrackSlugId(music.slug_id)">
                    <a *ngIf="(isLoggedIn$ | async)" class="dropdown-item py-2" data-bs-toggle="modal"
                       data-bs-target="#playlistModal">
                      <i class="tio-menu-hamburger"></i>
                      پلی لیست های من
                    </a>
                    <a class="dropdown-item py-2" *ngIf="!(isLoggedIn$ | async)" (click)="alertToSignIn()">
                      <i class="tio-menu-hamburger"></i>
                      پلی لیست های من
                    </a>
                  </li>
                </ul>
              </div>
              <button class="carousel-btn btn border-0" title="پخش" *ngIf="!(isLoggedIn$ | async)"
                      (click)="alertToSignIn()">
                <i class="tio-play"></i>
              </button>
              <button class="carousel-btn btn border-0" title="پخش" *ngIf="(isLoggedIn$ | async)"
                      (click)="playTrack(music.slug_id)">
                <i class="tio-play"></i>
              </button>
            </div><!-- overlay -->
            <div
              class="carousel-info info-track mt-2"><!-- info -->
              <a
                (click)="shortLink('/track', music.slug_id)"
                [routerLink]="['/track', music.slug_id, music.slug]"
                [title]="music.slug"
                class="text-decoration-none">
                <b>{{music.type == 'persian' ? (music.title_fa | faNum) : music.title_en}}</b>
              </a>
              <div class="carousel-artists">
                <a *ngFor="let owner of music.owner_artists; let i = index; trackBy: trackByFunc"
                   (click)="shortLink('/artist', owner.slug_id)"
                   [routerLink]="['/artist', owner.slug_id, owner.slug]"
                   [title]="owner.name_en"
                   class="text-decoration-none">
                  {{owner.name_fa ? (owner.name_fa | faNum) : owner.name_en}}
                </a>
              </div>
            </div><!-- info -->
          </ng-container>
          <ng-container *ngIf="music.filter == 'album'">
            <a
              (click)="shortLink('/album', music.slug_id)"
              [routerLink]="['/album', music.slug_id, music.slug]"
              [title]="music.slug"
              class="carousel-thumbnail text-decoration-none carousel-track"><!-- thumbnail -->
              <img crossorigin="anonymous"
                   [src]="music.thumbnail"
                   [alt]="music.slug"
                   class="carousel-track">
              <div class="inner-overlay carousel-track justify-content-center align-items-center"></div>
              <span class="box-label"><i class="tio-disc"></i></span>
            </a><!-- thumbnail -->
            <div class="outer-overlay"><!-- overlay -->
              <div class="btn-group dropstart">
                <button class="carousel-btn btn dropdown-toggle" type="button" title="افزودن به"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                  <i class="tio-add"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item py-2" *ngIf="!(isLoggedIn$ | async)" (click)="alertToSignIn()">
                      <i class="tio-filter-list"></i>
                      لیست در حال پخش
                    </a>
                    <a class="dropdown-item py-2" *ngIf="(isLoggedIn$ | async)"
                       (click)="addToNowPlayingAlbum(music.slug_id)">
                      <i class="tio-filter-list"></i>
                      لیست در حال پخش
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li (click)="setAlbumSlugId(music.slug_id)">
                    <a *ngIf="(isLoggedIn$ | async)" class="dropdown-item py-2" data-bs-toggle="modal"
                       data-bs-target="#playlistModal">
                      <i class="tio-menu-hamburger"></i>
                      پلی لیست های من
                    </a>
                    <a class="dropdown-item py-2" *ngIf="!(isLoggedIn$ | async)" (click)="alertToSignIn()">
                      <i class="tio-menu-hamburger"></i>
                      پلی لیست های من
                    </a>
                  </li>
                </ul>
              </div>
              <button class="carousel-btn btn border-0" title="پخش" *ngIf="!(isLoggedIn$ | async)"
                      (click)="alertToSignIn()">
                <i class="tio-play"></i>
              </button>
              <button class="carousel-btn btn border-0" title="پخش" *ngIf="(isLoggedIn$ | async)"
                      (click)="playAlbum(music.slug_id)">
                <i class="tio-play"></i>
              </button>
            </div><!-- overlay -->
            <div
              [ngClass]="music.type == 'persian' ? 'persian-info' : 'world-info'"
              class="carousel-info info-track mt-2"><!-- info -->
              <a
                (click)="shortLink('/album', music.slug_id)"
                [routerLink]="['/album', music.slug_id, music.slug]"
                [title]="music.slug"
                class="text-decoration-none">
                <b>{{music.type == 'persian' ? (music.title_fa | faNum) : music.title_en}}</b>
              </a>

              <div class="carousel-artists">
                <a *ngFor="let owner of music.owner_artists; let i = index; trackBy: trackByFunc"
                   (click)="shortLink('/artist', owner.slug_id)"
                   [routerLink]="['/artist', owner.slug_id, owner.slug]"
                   [title]="owner.name_en"
                   class="text-decoration-none">
                  {{owner.name_fa ? (owner.name_fa | faNum) : owner.name_en}}
                </a>
              </div>
            </div><!-- info -->
          </ng-container>
        </div><!-- item -->
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <button
      class="btn btn-sm btn-orange"
      type="button"
      (click)="loadMore()"
      [disabled]="buttonLoading$ | async">
        <span [hidden]="!(buttonLoading$ | async)" class="spinner-border spinner-border-sm" role="status"
              aria-hidden="true"></span>
      بارگذاری بیشتر
    </button>
  </div>
</div>
<app-home-playlist-modal></app-home-playlist-modal>
